// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-sh-at-startup "/usr/lib/pam_kwallet_init --no-startup-id && /usr/bin/kwalletd6 &"
    spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
    spawn-sh-at-startup "qs -c noctalia-shell"
    spawn-sh-at-startup "/usr/bin/nirinit --save-interval 300 &"
    spawn-sh-at-startup "xsettingsd &" // XSETTINGS for X11/XWayland apps
